name: Continuous Delivery

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'Dockerfile'
      - '.github/workflows/continuous-delivery.yml'
      - 'package.json'

env:
  HUSKY: 0

jobs:
  build:
    name: Publish WolfStar.Rocks image to container registry
    uses: wolfstar-project/.github/.github/workflows/reusable-publish-image.yml@main
    permissions:
      contents: read
      packages: write
    with:
      enablePlatforms: true
      platforms: '["linux/amd64", "linux/arm64"]'
      tag: latest
    secrets: inherit
